.exercise-title h2 {
    text-align: center;
    color: var(--heading-color);
    font-size: 2.4rem;
    margin-bottom: 40px;
}

.exercise-content {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.exercise-content input {
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: #f2f2f2;
    padding: 12px 18px;
    border-radius: 6px;
    width: 380px;

}

.exercise-content button {
    border: none;
    outline: none;
    padding: 7px 15px;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
}

.searchCards {
    margin-top: 15px;
    display: flex;
    gap: 12px;
    overflow-x: auto;
    padding: 8px;
}


.searchCards::-webkit-scrollbar {
    height: 8px;
}

.searchCards::-webkit-scrollbar-track {
    border-radius: 4px;
}

.searchCards::-webkit-scrollbar-thumb {
    background: rgb(223, 223, 223);
    border-radius: 4px;
}

.body-part {
    width: 180px;
    text-align: center;
    cursor: pointer;
    gap: 18px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 14px 16px;
}

.body-part:hover {
    transform: translateY(-1.5px);
    transition: 0.2s all ease;
}

.exericses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 60px;
}

.exercise-card {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 8px;
    padding: 10px;
    width: 320px;
    height: 360px;
}

.exercise-card img {
    width: 100%
}

.exercise-card h3 {
    text-align: center;
    font-size: 1rem;
    text-transform: capitalize;
    opacity: 0.8;
}

@media (max-width: 640px) {
    .searchCards {
        padding: 6px;
    }

    .body-part {
        width: 180px;
        padding: 8px 12px;
    }

    .exercise-title h2 {
        font-size: 1.8rem;
    }

}